$wsl: 1000px;
$wbt: 20px;
$btm: 10px;

a {
  &:hover {
    opacity: 50%;
  }
}

img {
  width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

.swiper-slide img {
  // width: 100%;
  height: 500px;
  object-fit: cover;
}

.swiper-slide {
  background: #fff;
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-color: #fff;
}

.swiper-pagination {
  --swiper-pagination-color: #fff;
}
